:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    transition: width 2s ease-in-out;

}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
}

#menu::before {
    left: 0;
    top: -20px;
}

#menu::after {
    left: 0;
    top: 20px;
}

#hamburger {
    border: none;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    /*padding-top: calc(var(--menu-bar-height) * 3);*/
    /*padding-bottom: calc(var(--menu-bar-height) * 3);*/
    padding: 20px 0;
}

#hamburger:hover #menu {
    background-color: transparent;
}

#hamburger:hover #menu::before {
    transform: rotate(45deg);
    transition: ease-in-out .5s;
    top: 0;
}
#hamburger:hover #menu::after {
    transform: rotate(-45deg);
    transition: ease-in-out .5s;
    top: 0;
}